/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	line-height: 1;
}
ol,ul{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset CSS || Begins Site styles */
html {
  font-size: 1.125em;
  line-height: 1.22em; /*(22/18)*/
	text-rendering: optimizeLegibility;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

  text-size-adjust: 100%;
	font-family: times;
}
body{
  padding-top: 1.78em;
  padding-left: 1.22em;
  padding-right: 1.22em;
  background-color: black;
  position: fixed;
	}
p{
    line-height: 2.6em;
    padding-top: .22em;
		padding-bottom: .22em;
    padding-right: 1.22em;
}
h1{
  font-size: 2.78em;
	line-height: 1.032em;
	padding-top: 2.22em;
  padding-bottom: 1.22em;
  text-align: center;
}
h2{
  font-size: 1.45em;
	line-height: 1.032em;
	padding-bottom: 1.22em;
  padding-left: 1.22em;
  text-align: left;
  position: inherit;
}
li{ /*list item*/
  padding-bottom: .611em;
}
ol, ul { /*ordered list, unordered list*/
  padding-bottom: 1.22em;
	list-style: none;
	margin-left: 2.22em;
}
ul{
  list-style-type: circle;
}
ol{
  list-style-type: decimal;
}
li > ul,
li > ol{
  padding-top: .611em;
  padding-bottom: 0;
  padding-left: 1.22em; /*1 lede*/
}
li li:last-child{
  padding-bottom: 0;
  }
	/*Modular*/
	nav ul{
		list-style-type: none;
		margin-left: 0;
	}
	nav a{
		display: block;
		padding-top: .611em; /*11/18*/
		padding-bottom: .611em;
		background-color: black;
		color: #eac67a;
		text-align: center;
		text-decoration: none;
	}
	a{
		color: blue;
	}
	footer{
		font-size: .611em;
		text-align: center;
		color: #eac67a;
    clear:both;
    background-color: black;
    position: relative;
	}
/*Layout*/
#navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#navigation li {
  width: 33.333333%;
  float: left;
}
#content{
  position: static;
}
#header, #a, #d{
  background-color: white;
}
#a, #d{
  height: 100px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: .611em;
  padding-bottom: 12.44em;
  position: relative;
}
#b{
  height: 100px;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: .611em;
  background-color: gray;
  padding-top: 1.22em;
  padding-bottom: 1.22em;
  position: relative;
}
#c{
  height: 100px;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: .611em;
  background-color: gray;
  padding-top: 1.22em;
  padding-bottom: 12.44em;
  position:relative;
}
  #desc{
    float: right;
    padding-left: 0;
    width: 50%;
  }
  #about{
    float: left;
    padding-right: 1.22em;
    width: 50%;
  }
  #impact{
    float: left;
    padding-left: 1.22em;
    padding-right: 1.22em;
    padding-top: 2.44em;
    width: 95%;
    text-align: left;
  }
  #group{
    max-width: 100%;
    height:320px;
    float: right;
    padding: 2.44em;
  }
  #model{
    max-width: 100%;
    height:260px;
    float: left;
  }
  #shop{
    max-width: 100%;
    margin: auto;
		display: block;
  }
  .flexbox #navigation {
    position: static;
  }
  .flexbox #navigation ul {
    display: flex;
  }
  .flexbox #navigation li {
    float: none;
  }
  .flexbox #content .desc .about .impact .group .model{
    display: flex;
    align-items: baseline;
  }
  .flexbox #shop{
    display: flex;
  }
  .cssgrid #content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.035%;
    grid-row-gap: 15px;
  }
  .cssgrid #about .model{
    display: grid;
    grid-column: 1/2;
  }
  .cssgrid #desc .impact .group .shop{
    display: grid;
    grid-column: 2/2;
  }
	/*State Styles*/
	@media screen and (min-width: 280px) {
		body{
			padding-left: .5%;
			padding-right: .5%;
		}
		p{
			font-size: .8185em;
		}
		li {
			font-size: .611em;
		}
    #a{
      height: 500px;
    }
    #b{
      height: 800px;
    }
		#c{
      height: 875px;
    }
		#d{
      height: 775px;
    }
    #model{
          float:none;
          height:220px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }
    #group{
          float:none;
          height:150px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
            }
    #shop{
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: 120px;
    }
    #desc, #about{
      float: none;
      padding-top: 1.5em;
      padding-left: 1.5em;
      width: 90%;
    }
	}
	@media screen and (min-width: 310px) {
		body{
			padding-left: .5%;
			padding-right: .5%;
		}
		p{
			font-size: .8185em;
		}
		li {
			font-size: .611em;
		}
    #a{
      height: 500px;
    }
    #b{
      height: 750px;
    }
		#c{
      height: 775px;
    }
		#d{
      height: 775px;
    }
    #model{
          float:none;
          height:220px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }
    #group{
          float:none;
          height:175px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
            }
    #shop{
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: 140px;
    }
    #desc, #about{
      float: none;
      padding-top: 1.5em;
      padding-left: 1.5em;
      width: 90%;
    }
	}
	@media screen and (min-width: 360px) {
		body{
			padding-left: .5%;
			padding-right: .5%;
		}
		li {
			font-size: .611em;
		}
    #a{
      height: 400px;
    }
    #b{
      height: 725px;
    }
		#c{
      height: 725px;
    }
		#d{
      height: 675px;
    }
    #model{
          float:none;
          height:220px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }
    #group{
          float:none;
          height:200px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
            }
    #shop{
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: 160px;
    }
    #desc, #about{
      float: none;
      padding-top: 1.5em;
      padding-left: 1.5em;
      width: 90%;
    }
	}
	@media screen and (min-width: 450px) {
    body{
			padding-left: .5%;
			padding-right: .5%;
		}
		p{
			font-size: 1em;
		}
		li {
			font-size: .611em;
		}
    #a{
      height:425px;
    }
    #b{
      height: 825px;
    }
    #c{
      height: 775px;
    }
		#d{
      height: 700px;
    }
    #group{
          float:none;
          height:260px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }
    #model{
          float:none;
          height:240px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }
    #shop{
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: 200px;
    }
    #desc, #about{
      float: none;
      padding-top: 1.5em;
      padding-left: 1.5em;
      width: 90%;
    }
	}
	@media screen and (min-width: 500px) {
    body{
      padding-left: 1%;
      padding-right: 1%;
    }
    li {
      font-size: .611em;
    }
    #a{
      height: 475px;
    }
    #b{
      height: 850px;
    }
    #c{
      height: 775px;
    }
		#d{
      height: 675px;
    }
    #group{
          float:none;
          height:320px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }
    #model{
          float:none;
          height:370px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }
    #shop{
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: 200px;
    }
    #desc, #about{
      float: none;
      padding-top: 1.5em;
      padding-left: 1.5em;
      width: 90%;
    }
	}
	@media screen and (min-width: 600px) {
    body{
      padding-left: 1.5%;
      padding-right: 1.5%;
    }
    li {
      font-size: .611em;
    }
    #a{
      height: 400px;
    }
    #b{
      height: 825px;
    }
		#c{
			height: 625px;
		}
		#d{
			height: 700px;
		}
    #group{
          float:none;
          height:360px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }
    #model{
          float:none;
          height:370px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }
    #shop{
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: 200px;
    }
    #desc, #about{
      float: none;
      padding-top: 1.5em;
      padding-left: 1.5em;
      width: 90%;
    }
	}
  @media screen and (min-width: 675px) {
    body{
      padding-left: 1.5%;
      padding-right: 1.5%;
    }
    li {
      font-size: .611em;
    }
    #a{
      height: 400px;
    }
    #b{
      height: 725px;
    }
    #c{
      height: 600px;
    }
		#d{
			height: 550px;
		}
    #group{
          float:none;
          height:280px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }
    #model{
          float:none;
          height:270px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }
    #shop{
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: 200px;
    }
    #desc, #about{
      float: none;
      padding-top: 1.5em;
      padding-left: 1.5em;
      width: 90%;
    }
	}
  @media screen and (min-width: 725px) {
    body{
      padding-left: 1.5%;
      padding-right: 1.5%;
    }
    li {
      font-size: .611em;
    }
    #a{
      height: 350px;
    }
    #b{
      height: 750px;
    }
    #c{
      height: 550px;
    }
		#d{
			height: 500px;
		}
    #group{
          float:none;
          height:300px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }
    #model{
          float:none;
          height:270px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }
    #shop{
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: 200px;
    }
    #desc, #about{
      float: none;
      padding-top: 1.5em;
      padding-left: 1.5em;
      width: 90%;
    }
	}
	@media screen and (min-width: 900px) {
		li {
			font-size: 1.22em;
		}
    #a{
      height: 200px;
    }
    #b{
      height: 475px;
    }
		#c{
			height: 500px;
		}
		#d{
			height: 325px;
		}
    #group{
      height:300px;
      margin: inherit;
      float: right;
    }
    #model{
      height:260px;
      padding: 1.88em;
      margin:inherit;
      float: left;
    }
    #shop{
      height: 240px;
    }
	}
	@media screen and (min-width: 1060px) {
		li {
			font-size: 1.22em;
		}
    #a{
      height: 200px;
    }
		#b{
			height: 400px;
		}
		#c{
      height: 550px;
    }
		#d{
			height: 275px;
		}
    #group{
      height:300px;
      margin: inherit;
      float: right;
    }
    #model{
      height:300px;
      padding: 1.88em;
      margin:inherit;
      float: left;
    }
    #shop{
      height: 280px;
    }
	}
  @media screen and (min-width: 1300px) {
		#c{
				height: 500px;
		}
		#group, #model{
      height: 340px;
    }
    #shop{
      height: 320px;
    }
  }
  .js u[href]{
  cursor: pointer;
  color: blue;
  text-decoration: none;
}
.js abbr[title] {
cursor: pointer;
color: blue;
text-decoration: none;
}
abbr[title].is-expanded {
cursor: unset;
color: inherit;
}
  /* TODO: make influence page shanagins
           adjust media queries || sperate id "a"
           adjust text spacings
           decide on color scheme
           switch px to em*/
